<!DOCTYPE html>
<html>

{% load staticfiles %}
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Tracker Issue Page</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{% static "css/joe_custom_style.css" %}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                    <span class="fa fa-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">--Issue Type--</a>
            </div>
            <div style="color: white;
padding: 15px 50px 5px 50px;
float: left;
font-size: 30px; " >Viewing a {{ issue.issue_type }} Priority: {{ issue.priority }}</div>
  <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">
  {% if user.is_authenticated %}
    Last access : {{ user.last_login }} &nbsp;
    <a href="/admin/logout/" class="btn btn-danger square-btn-adjust">Logout</a>
  {% else %}
    <a href="/admin/login/" class="btn btn-danger square-btn-adjust">Login</a>
  {% endif %}
 </div>
        </nav>
           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li>
                        <a  href="/issue/issue_index/"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                      <li>
                        <a class="active-menu"   href="/issue/add"><i class="fa fa-desktop fa-3x"></i> File Report</a>
                    </li>
                    <li>
                        <a  href="/tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Time Tracking</a>
                    </li>
                      <li  >
                        <a   href="/admin/login/"><i class="fa fa-bolt fa-3x"></i> Login</a>
                    </li>
		      <li  >
                        <a   href="/issue/Create_Issue_Bootstrap/"><i class="fa fa-bolt fa-3x"></i> Create Issue</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
           {% block content %}

           {% endblock %} 
        </div>
    </div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>

</html>
