{% extends 'base_v2.html' %}

{% block content %}
<h2>Issue: {{issue.pk}}: {{ issue }}</h2>
 <ul>
   <li>Created: {{ issue.submitted_date }} by <a href="mailto:{{issue.reporter.email }}">{{ issue.reporter }}</a></li>
   <li>Last modified: {{ issue.modified_date }}</li>
   <li>Status: {{ issue.status }}</li>
   <li>Type: {{ issue.issue_type }}</li>
   <li>Priority: {{ issue.priority }}</li>
   <li>Assignee: {{ issue.assignee }}</li>
 </ul>
<h3>Description:</h3>
<p>{{ issue.description }}</p>

{% endblock content %}
